#h h1 {
	font-weight: 700;
	color: black;
	font-size: 40px;
	padding:
}

.container.ptb{
	border-top:2px solid black;
}

.screenshot{
	border-top-radius: 10px;
} 



#h i {
	margin-left: 150px;
	height:20px;
	color:black;
	font-size: 30px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	margin-left: 15%;
}

p, h2,h3{
	color:black;
}

.ion-social-github{
	font-size: 35px;
	color: black;
}

#mt {
	color:black;
}
