
/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	color:black;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	letter-spacing: 1px;
	color: black; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.container.ptb{
	border-top:2px solid black;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}


/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

@media screen and (max-width: 767px) {
	.subscribe-input {
		width: 100%;
	}
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}


/* HEADER SECTION */
#h {
	padding-top: 100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 50px;
	width: 100%;
	color: white;
	border-bottom: 2px solid black;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
	top: 15px;
	left: 45px;
	font-size: 18px;
	font-weight: 900;
	position:absolute; 
}

#h .menu {
	top: 24px;
	left: 17%;
	font-size: 18px;
	font-weight: 1200;
	position:absolute; 
}
#h .menu2 {
	top: 24px;
	left: 24%;
	font-size: 18px;
	font-weight: 1200;
	position:absolute; 
}


#h .social {
	top: 35px;
	left: 85%;
	font-size: 20px;
	position: absolute;
}

#h i {
	margin-left: 20px;
	height:20px;
	color:black;
	font-size: 35px;
}


#h h1 {
	font-weight: 700;
	color: black;
	font-size: 40px;
}

#h i:hover{
	color:#b9b9b9;
}

/* SEP */
#sep {
	background: url(../img/sep.jpg) no-repeat center top;
	padding-top: 90px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	margin-left: 15%;
}


#sep h4 {
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 30px;
}

/* Pricing Tables */
#work{
	margin-bottom: 5%;
}

.price-table {
	border: 2px solid #5a5a5a;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin: 5px; 
}

.price-table .p-head {
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 80px;
	/*border-bottom: 2px solid #ccc;*/
}

.screenshot{
	border-top-radius: 10px;
} 

.price-table .p-body .features li {
	color: #333333;
	border-bottom: 2px solid #ccc;
	padding: 24px 0px;
	margin: 0;
	letter-spacing: 1px;
}

.p-body .price .detail {
	font-weight: 700;
	font-size: 45px;
	margin-left: 10px;
	margin-right: 10px;
}

.p-body .price .sub {
	font-size: 20px;
	color: #ccc;
	position: relative;
	bottom: 10px;
	font-weight: 700;
}

.ion-social-github{
	font-size: 35px;
	color: black;
}

ul {
	list-style-type: none;
}

/* FOOTER */
#f {
	padding-top: 60px;
	padding-bottom: 60px;
	background: white;
	color: white;
}

#f h5 {
	margin-top: 30px;
	letter-spacing: 1px;
}

#f i {
	font-size: 45px;
	margin: 15px;
}

#f a {
	color: black ;
}

#f a:hover {
	color: #b9b9b9;
}